{
    "todos": [
        {{#repeat min=10 max=15}}
        {
            "title": "{{lorem min=3 max=8}}",
            "dueDate": "{{daysFromNow -12 12}}",
            "isCompleted" : {{boolean}},
            "description": "{{lorem min=5 max=20}}"
        }
        {{/repeat}},
        {{#repeat min=10 max=15}}
        {
            "title": "{{lorem min=3 max=8}}",
            "dueDate": "{{daysFromNow -12 12}}",
            "isCompleted" : {{boolean}},
            "description": "{{lorem min=100 max=160}}"
        }
        {{/repeat}},
        {{#repeat min=4 max=8}}
        {
            "title": "{{lorem min=3 max=8}}",
            "dueDate": "{{daysFromNow -12 12}}",
            "isCompleted" : {{boolean}},
            "description": ""
        }
        {{/repeat}}
    ]
}