body {
    width: 1200px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 5px;
}

thead > tr {
    font-size: 150%;
}

tbody > tr:not(.description) {
    background-color: rgb(230, 230, 230);
    font-weight: bold;
}

.description td {
    padding-bottom: 20px;
    font-style: italic;
    color: darkslategray;
}